:root {
    --border-top-color: rgba(255, 255, 255, 0.2);
    --border-bottom-color: rgba(0, 0, 0, 0.03);
    --hover-filter: brightness(1.025);
    --active-filter: brightness(1.05);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    color: #333435;
}

dl {
    margin: 6px 0;
    font-size: 1.2em;
}
dl dt,
dl dd {
    margin: 0;
}
dl dt {
    display: inline;
}
dl dt::before {
    display: block;
    content: "";
}
dl dt::after {
    display: inline;
    content: " ";
}
dl dd {
    font-weight: bold;
    display: inline;
}

.hidden {
    display: none;
}

.badge {
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 6px;
    background-color: rgba(250, 252, 254, 0.58);
    border-radius: 8px;
    padding: 2px 6px;
}

.results-container:not(.hidden) {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    text-wrap: balance;
}

.results-container .results-info {
    width: 100%;
    margin-bottom: 20px;
}

.results-container .results-info .license-graph {
    padding: 0;
}
.results-container .results-info .license-graph .license-graph-element {
    display: inline-block;
    height: 18px;
    margin: 0 0 -3px 0px;
}

.results-container .filter-container {
    width: 100%;
}

@media screen and (min-width: 660px) {
    .results-container .filter-container {
        width: 300px;
        min-width: 300px;
        top: 20px;
        position: sticky;
        overflow: scroll;
        height: 100vh;
    }
}

.results-container .filter-container fieldset {
    border: none;
    margin: 0;
    padding: 6px;
    background-color: #fff;
}

@media screen and (min-width: 660px) {
    .results-container .filter-container fieldset {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

.results-container .filter-container fieldset legend:not(.hidden) {
    display: contents;
}

.results-container .filter-container .field-container {
    display: flex;
}

.results-container .filter-container .field-container:hover {
    filter: var(--hover-filter);
}

.results-container .filter-container .field-container:active {
    filter: var(--active-filter);
}

.results-container .filter-container .field-container:not(:last-of-type) {
    border-bottom: 1px solid var(--border-bottom-color);
}

.results-container .filter-container .field-container:not(:first-of-type) {
    border-top: 1px solid var(--border-top-color);
}

.results-container .filter-container .field-container input {
    cursor: pointer;
}

.results-container .filter-container .field-container label {
    margin-left: 3px;
    cursor: pointer;
    padding: 6px 0;
    width: 100%;
}

@media screen and (min-width: 660px) {
    .results-container .package-list-container {
        flex: 1;
        max-width: calc(100% - 300px);
    }
}

.results-container .package-list-container ul.package-list {
    background-color: #fff;
    padding: 6px;
    list-style-type: none;
    margin: 20px 0 0 0;
}

@media screen and (min-width: 660px) {
    .results-container .package-list-container ul.package-list {
        margin: 0 0 0 20px;
    }
}

.results-container .package-list-container ul.package-list li {
    display: flex;
    padding: 6px 6px;
}

.results-container .package-list-container ul.package-list li:hover {
    filter: var(--hover-filter);
}

.results-container .package-list-container ul.package-list li:not(:last-of-type) {
    border-bottom: 1px solid var(--border-bottom-color);
}

.results-container .package-list-container ul.package-list li:not(:first-of-type) {
    border-top: 1px solid var(--border-top-color);
}

.file-input-container:not(.hidden) {
    border: 2px dashed #d2d4d6;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    transition: all 0.1s ease-in-out;
    height: 96vh;
    width: 96vw;
    margin: 2vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-input-container.highlighted {
    background-color: #e2e4e6;
    border-color: #c2c4c6;
}

.file-input-container .file-input-text {
    border: none;
    font-size: 3em;
    margin: 0;
}

.file-input-container input {
    display: none;
}
